.transactionHistory {
    text-align: center;
    border-spacing: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    color: #162f43;
}

.tableHead {
    text-transform: uppercase;
    padding: 20px 40px;
    background-color: #001e8c70;
    color: #ffffff;
}

.tableHead th {
    padding: 20px 40px;

    &:not(:last-child) {
        border-right: 1px solid #1e2427;
    }
}

.tableRow {
    &:nth-child(even) {
        background-color: #58cbf9;
    }
}

.tableRow td {
    padding: 20px 40px;

    &:not(:last-child) {
        border-right: 1px solid #1e2427;
    }
}